:root {
	--imagenFondo:url('appsArt/fondo.jpg');
	--luzOn:#323435;
	--OnActivo: #2a2a2b;
	--OnPasivo: #020202;	
    --Off: #4e79fc;
	--RojoOnActivo:#fd0101;
	--RojoOnPasivo:#d80202;
	--RojoOff:#960404;  
    --fondo01:rgba(117, 208, 250, 0.1);
    --fondo03:rgba(117, 208, 250, 0.3);
    --fondo05:rgba(117, 208, 250, 0.5); /*Estado inactivo*/
    --fondo07:rgba(117, 208, 250, 0.7);
    --fondo09:rgba(117, 208, 250,0.9); /*Estado activo*/
    --fondo10:rgba(117, 208, 250,1);
	--fondoOff01:rgba(15, 25, 44, 0.1);
    --fondoOff03:rgba(15, 25, 44, 0.3);
    --fondoOff05:rgba(15, 25, 44, 0.5); /*Estado inactivo*/
    --fondoOff07:rgba(15, 25, 44, 0.7);
    --fondoOff09:rgba(15, 25, 44,0.9); /*Estado activo*/
    --fondoOff10:rgba(15, 25, 44,1);
	color:#fc3504;
	color:#ff6105;
	color:#ff8a05;
	color:#e6ff07;
	color:#8bff07;
	color:#0f0f0f;

  }
html {
	font-family: calibri, asap;
	font-size: 16px;
	width: 99%;	
	background:#f9f9fa;
}
#appsContenedorGlobal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#appsEncabezadoGral {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
	align-items: center;	
	margin-bottom: 1em;
	border:1px solid var(--Off);	
	background: var(--fondo03);
	z-index: 3;
}
.appsBtnMenu {
	cursor: pointer;
}
.appsBtnMenu img {
	width: 40%;
}
.appsLogo {
	cursor: pointer;
}
.appsLogo img {
	width: 40%;
	border-radius:10px;
	box-shadow: 0px 0px 6px 2px gray;
}
.appsTituloCinta {
	font-size: 1,5em;
	font-weight: bolder;	
	color: var(--RojoOnPasivo);
	text-align: center;
}
.appsContenidoCinta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	grid-column:4/19;
	font-weight: normal;
	font-size: 14px;
	color: var(--OnPasivo);
	text-align: center;
}
.appsInicioSesionCinta {
	position: relative;
	float: right;
	top: -125px;
	width: auto;
	margin: 3px;
	padding: 2px 5px;
	text-align: center;
	color: var(--OnPasivo);
	font-weight: bold;
	font-size: 16px;
	border: 1px solid var(--Off);
	border-radius: 10px 0px ;
	background: var(--fondo01);		
	cursor: pointer;
}
.appsInicioSesionCinta:hover {
	color: var(--OnActivo);
	text-shadow: 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo03);		
}
/*====CuerpoPrincipal====*/
#appsContenedor{	
	width: 100%;
}
#contImportarDatos{
	visibility: visible;
}
#contForm{
	display: grid;
	grid-template-columns: 200px 350px 200px;
}
.selectorTipoReporte {
    margin-bottom: 1em;
}
#reporte{
	visibility: hidden;
}
#numEst{
	display: flex;
	flex-wrap: nowrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: rgb(57, 57, 226);
	color:white;
	font-size: 2rem;
	margin:5px;
	border-radius: 25px;
}
#contenedorTabla{
	margin-top:5px;
	height:650px;
    overflow: scroll;
	user-select: none;
}
#contenedorTabla>div:nth-child(odd) {
	background-color:#dae4e9;	
}
.grid{	
	display: grid;
	grid-template-columns: 100px 40px 100px 40px 40px 60px 100px 200px 300px 300px 80px 60px 60px 60px 60px 60px 60px;
	gap:0.1em;
	align-items:center;
	text-align: center;
}
.encabezado{
	position:sticky;
	top:0px;
	user-select: none;
	z-index: 2;
}
.tituloGrid{	
	border-radius: 5px;
	background:#084B8A;
	font-weight: 900;	
	min-height:40px;	
}
.filtro{
	position:sticky;
	top:32px;
	user-select: none;
	z-index: 2;
}
.filtroGrid{
	background:#084B8A;
	min-height:40px;	
}
select{
	padding: 2px;
	background-color: white;
	border-radius: 5px;
	border:1px solid black;
	box-shadow: 0px 0px 1px 0px black;
	outline: 0 none;
	overflow: visible !important;
}
.cuerpoGrid{	
	position: relative;
	top:40px;
	border-left: 1px solid #a7a7a7;
	border-bottom: 1px solid #a7a7a7;
	height: 40px;
	overflow: hidden;
}
.cuerpo:hover {
	background-color: #d9e7fa !important;
}
.cuerpoGrid:hover{	
	background-color: #bcd1ee !important;
}
#inputID {
    display: flex;
    flex-wrap: wrap;
	gap: 1em;
    align-items: center;
    justify-content: center;
	margin-bottom: 1em;
	font-size: 1em;
}
#idNum {
    width:390px;
	padding: 5px;    
    border-radius: 5px;
   	text-align: center;
}
#btnBuscar {
    width: 400px;    
	padding: 5px;
    background: azure;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px black;
}
#contenedorReporteIndividual{	
	visibility: hidden;
	width:100%;
	margin: 0 auto;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
	font-size: 1em;
}
/*
#contenedorReporteIndividual>div{
	padding:10px;
	margin:10px;	
}
#contenedorReporteIndividual>div p{
	margin: 0px;
}
*/
.encabezadoReporte {
	width: 100%;
   	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}
.reporteSaludo {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.reporteCantidadPruebas {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}
.reporteCuerpo {
	width: 100%;	
	height: 600px;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(30em,1fr));
	gap: 1px;
    border: 1px solid black;
    border-radius: 10px;    
    overflow: scroll;
}
.reporteInstrumento {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5em;
	padding: 0.5em;
}
.reporteTituloInstrumento {
    padding: 0.2em;
}
.reporteTituloRespuestasCorrectas {
    padding: 0.2em;
}
.reporteTituloRespuestasIncorrectas {
    padding: 0.2em;
}
.reporteResumenRespuestas p{
	margin: 0;
}




.tablaBD tbody tr:nth-child(even) {
	background-color:#e8eef1;
}
.tablaBD tbody tr:hover {
	background-color: #d9e7fa;
}
.tablaBD{
	position: relative;
	left:10px;
	border-collapse: collapse;
	background:white;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaBD th img, .tablaBD td img{
	height:10px;
	width: 10px;
	cursor:pointer;
	padding:0px 3px;
}
.tablaBD th img:hover, .tablaBD td img:hover{
	background:white;
	border-radius: 5px;
}
.tablaBD thead th{	
	top:0;
	height: 20px;	
	padding:0px 5px;
	font-weight:bolder;
	text-align:center;
	color:white;
	white-space:nowrap;
	background:#084B8A;
}
.tablaBD td{
	height: 20px;	
	padding:3px 10px;
	border-right:0.2px solid white;
	border-bottom:0.2px solid lightgray;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.stickyHead1{
	position:sticky;
	top:0px;
	border-right:0.2px solid white;
	border-bottom:0.2px solid lightgray;
	z-index: 2;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #dcf3fc;
	box-shadow: inset 0 0 6px #cee0e7; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #084B8A;
	border-radius: 10px;
    box-shadow: inset 0 0 6px #1d3faf; 
}
::-webkit-scrollbar-thumb:hover {
	background: #0e2263;	
	box-shadow: 2px 1px 15px 1px #081338;	
}
@media screen and (max-width:800px) {
	#appsEncabezadoGral {
		grid-template-columns: repeat(3, 1fr);
	}
	.appsContenidoCinta {
		width: 100%;
		grid-column: 1/4;
		display: flex;
		flex-wrap:nowrap;
		align-items: center;
		justify-content: space-evenly;
		background-color: white;
		border:1px solid gray;
	}
	
}