html{	
	font-family: calibri, asap;
}
#contenedorGlobal{ 
	position: absolute;
	width:90%	;
	top:-20px;
	background:white;
}
/*====Encabezado====*/
#encabezadoGral{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	margin:0 auto;
	border-bottom: 0.3px solid #AAAAAA;
	z-index: 3;
	background: linear-gradient(to right, rgba(8, 138, 41,1) 0%, rgba(255, 255, 255,1) 30%, rgba(255, 255, 255,1) 60%,rgba(8, 75, 138,1) 100%);
	box-shadow: 2px 1px 5px 1px gray;
}
.btnMenu{
	position:relative;
	width:30px;
	top:13px;
	left:10px;
	cursor:pointer;
}
.btnMenu img{
	width:20px;
	height: 20px
}
.logo{
	position:relative;
    height:45px;
    width:45px;
    top:-22px;
    left:41px;
    border-radius: 0;
}
.logo img {
	height:45px;
    width:45px;
}
.tituloCinta{
	position:relative;
	top: -68px;
	left: 90px;
	width:180px;
	height:45px;	
	font-size:18px;
	font-weight:bolder;
	color:#0B0B61;
	text-align:center;
	padding-left:3px;	
}
.contenidoCinta{
	position:relative;
	width:50%;
	top:-100px;
	left:340px;
	font-weight:normal;
	font-size:14px;
	color:#8B93AF;
	text-align:center;
	padding-left:5px;
}
.contenidoCinta ul{
	position:relative;
	left:0;
	list-style:none;
	display:inline;	
}
.contenidoCinta li{
	position:relative;
	width:auto;
	left:-20px;
	list-style:none;
	display:inline;
	margin:4.0%;
}
.inicioSesionCinta{
	position:relative;
	float:right;
	top:-125px;
	width:auto;
	text-align:center;	
	cursor:pointer;
	margin:3px;
	padding:2px 5px;
	color:#0B0B61;
	font-weight: bold;
	font-size:16px;
	border:1px solid #0B0B61;
	border-radius:5px;
	background: white;
}
.inicioSesionCinta:hover{
	background:#EBEEF8;
	box-shadow: 0px 0px 2px 0px #EBEEF8;
}
/*==== Login====*/
#formulario{
	position:absolute;
	visibility:hidden;		
	width:auto;
	padding:10px;
	border:1px solid #0B0B61;
	background:white;
	box-shadow:0px 0px 5px 0px gray;
	border-radius:5px;
	z-index:3;
	font-weight: bold;
	font-size:0.8vw;
}
#formulario input{
	font-weight: normal;
	font-size:0.8vw;
	border:1px solid #0B0B61;
	border-radius:5px;
}
#formulario input:focus{
	border-color: #0B0B61;
    box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 228, 130,0.6);
    outline: 0 none;
}
#formulario .btnLogin{
	left:30px;
	color:#0B0B61;
	font-weight: bold;
	font-size:10px;
	border:1px solid #0B0B61;
	border-radius:5px;
	background: white;
	cursor:pointer;
}
#formulario .btnLogin:hover{
	background:#EBEEF8;
	box-shadow: 0px 0px 2px 0px #EBEEF8;
}
.formularioLogin{
	top:55px;
	right:-108px;
}
#sesionLogedIn{
	position:relative;
	width:auto;
	top:-125px;
	float:right;
	cursor:pointer;	
	color:#0B0B61;
	padding:2px;
	display: flex;
   	justify-content: center;
   	align-items: center;
   	border:1px solid #0B0B61;
	border-radius:25px;
	/*box-shadow:1px 1px 2px 1px #0B0B61;	*/
	background: white;
}
#sesionLogedIn:hover{
	background:#AABAF6;
	box-shadow: 0px 0px 5px 0px #EBEEF8;
}
.sesionImg{
	float:right;
	width:30px;
	height:30px;
}
.formularioDatosUsuario{
	top:64px;
	right:-108px;
}
.datosPersonales{
	border-bottom: 1px solid gray;
	margin:10px 0px;
	padding: 10px 0px;
}
.sesionImgInside{
	margin:auto;
	padding:10px;
	width:50px;
	height:50px;
}

.formularioDatosUsuario .etiqueta{	
	font-weight: bold;	
	padding:10px 0px;
}
.formularioDatosUsuario .datos{	
	font-weight: normal;	
	font-style: italic;
}
.formularioDatosUsuario .btn{
	width: auto;
	left:30px;
	color:#0B0B61;
	font-weight: bold;
	font-size:10px;
	text-align: center;
	border:1px solid #0B0B61;
	border-radius:5px;
	background: #EBEEF8;
	cursor:pointer;
	padding:0px 5px;
}
.formularioDatosUsuario .btn:hover{
	background:#EBEEF8;
	box-shadow: 0px 0px 2px 0px #EBEEF8;
	box-shadow:0 0 5px #353DA5;
}

.formularioNuevaContrasena{
	top:222px;
	right:28px;
}
/*#separador{
	position:fixed;
	background:white;
	opacity:0.8;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:10;
}
.formularioNuevoUsuario{
	position:fixed;
	top:-550px;
	left:0px;
	right:0px;
	margin:0 auto;
	width:400px;
	height:auto;
	z-index:11;
	border:1px solid green;
	background:white;	
	box-shadow:0px 0px 20px white;
	border-radius:10px;
	padding-bottom:20px;
}
.formularioNuevoUsuario a{
    padding:1px;
    background:blue;
    border-radius:5px;
    margin-top:10px;
    text-decoration:none;
    font-weight: bold;
    color:#F2F2F2;
}
.formularioNuevoUsuario a:hover{
    background:brown;
    cursor:pointer;
}
#x{
	background:red;
	position:relative;
	top:-30px;
	left:250px;
	border-radius:25px;
	color:white;
	padding:5px;
	display:none;
}
#x .contrasena{
	display:inline;
}
#handler{
	height:auto;
	background:#088A29;
	border:1px solid #F5ECCE;
	text-align:center;
	color:white;
	font-weight:bold;
	border-radius:10px 10px 0px 0px;
	border-bottom:3px solid gray;
	cursor:move;
} 
#handler p{
	position:relative;
	top:-5px;
	text-shadow:2px 2px 6px lightblue;	
	line-height:2px;
}
a.cerrar{
	background:white;
	color:gray;
    float:right;
    width:20px;
    height:20px;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
	border-radius:25px;
	border:2px solid black;	
	padding-bottom:-2px;
}*/

/*====Menú de Navegación====*/
.menuNavegacion{
	position:relative;
	top:75px;
	width:24px;	
	padding:5px;
	display:inline-block;
	line-height: 18px;	
	background: #EFFDF5;
	overflow: hidden;
	z-index: 3;
	background:white;
}
.menuNavegacion ul{
	position:relative;
	top:-15px;
	list-style: none;
}
.menuNavegacion img{
	padding-right: 5px;
	width:15px;
	height:15px;
}
.menuNavegacion li{
	position:relative;
	width:20px;
	left:-40px;	
	border-style:solid;
	border-width:1px;	
	border-radius: 3px;
	border-color:gray;
	padding-left:5px;	
	overflow:hidden;
	cursor:pointer;
}
.menuNavegacion .menu li a{		
	width:100%;
	text-decoration:none;
	padding:1px 1px;
	padding-left: 1px;
	display:block;
	font-family: arial, serif;
	font-weight: bold;
	font-size:0.6vw;
}
.menuNavegacion .menu li a:hover{
	background:#D0ECE7;
	border-radius:5px;
	color:black;
}
.menuNavegacion .menu ul{
	position:relative;
	top:0px;
	left:-10px;
}
.menuNavegacion .menu .activado > a{
	background:green;
}
.submenuAdmon{
	display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*====CuerpoPrincipal====*/
#contenedor{
	position:absolute;
	top:72px;
	left:45px;
	width:100%;
	font-family: arial, serif;	
	font-size:10px;
	font-weight:normal;
	background: white;
	z-index: 1;
  overflow: scroll;
}

/*-- -- */
#reestablecerBD{	
	position:relative;
	left:30px;
	width:300px;
	padding:0px 5px;	
}
#reestablecerBD input{	
	position:relative;
	left:30px;
	width:auto;
	height:auto;
	padding:0px 5px;
	color:#0B0B61;
	font-weight: bold;
	font-size:10px;
	text-align:center;
	border:1px solid #0B0B61;
	border-radius:5px;
	background: white;
	cursor:pointer;
}
#reestablecerBD input:hover{
	background:#EBEEF8;
	box-shadow: 0px 0px 2px 0px #EBEEF8;
}
#reestablecerBD a{
	text-decoration:none;
}

/*-- -- */
#inputBuscar{
	width:350px;
	margin:3px;
	padding:4px 10px;
	color:#4163B8;
	border:1px solid #4163B8;
	border-radius:10px;	
	background:#F0F8FC;
}
#inputBuscar:focus{
	border-color: #0B0B61;
    box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 63, 228,0.6);
    outline: 0 none;
}
#btnBuscar{
	width:auto;	
	margin:3px;		
	padding:4px 10px;
	color:#4163B8;
	border:1px solid #4163B8;
	border-radius:10px;	
	background:#F0F8FC;
	cursor:pointer;
}
#btnBuscar:focus{
	border-color: #0B0B61;
    box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 63, 228,0.6);
    outline: 0 none;
}
#btnBuscar:hover{	
	background:#E7EBF9;
	box-shadow:0 0 5px #353DA5;
}

/*====Avisos Fijos====*/
#avisosFijos{
	position:absolute;
	width:auto;
	padding:0 10px;
	border:1px solid black;
	border-radius:10px;
	font-size:12px;
	text-align:center;
	cursor:default;
}
.totalBienes{
	top:5px;
	left:500px;
}
.tiempoCarga{
	top:5px;
	left:710px;
	cursor:pointer !important;
}
.regEncontrados{
	position:relative !important;	
	margin:3px;	
}
.select{
	position:relative !important;	
	margin:3px;	
}
.select:focus{
	border-color: #0B0B61;
    box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 63, 228,0.6);
    outline: 0 none;
}

#avisoModificaciones{
  position:fixed;
  top:80px;
  left:750px;
  width:180px;  
  padding:0 25px;
  marging: 0 auto;
  font-size:12px;
  text-align:center;
  border-radius:10px;  
  background:white;  
  cursor:pointer;
  z-index:9;
}
.avisoModifPend{
  border:3px solid red;
  box-shadow:2px 2px 1px 0px #FAFBB7;
}
.avisoSinModif{
  border:3px solid #4CDA2D;  
  box-shadow:2px 2px 1px 0px lightgray;
  background:#BBF8AE;
}

#avisoDependencias{
	position:absolute;
	width:auto;
	top:5px;
	right:15px;	
	padding:0 10px;
	margin: 0 auto;
	font-size:10px;
	color:#0B0B61;
	border:1px solid #13198E;
	border-radius:5px;
	box-shadow:0px 0px 3px 0px #040A8E;	
	background: white	;
}

/*====Tabla Principal====*/
.tablaBD  tbody tr:nth-child(even) {
	background-color:#E8F4FA;
}
.tablaBD tbody tr:hover {
	background-color: #DFDDDD;
}
.tablaBD{
	position: relative;
	left:10px;
	border-collapse: collapse;
	border:2px solid black;
	background:white;
}
.tituloBD{
	position: relative;
	left:10px;
	font-size: 20px;
	font-weight: bolder;
}
.tablaBD th img, .tablaBD td img{
	height:10px;
	width: 10px;
	cursor:pointer;
	padding:0px 3px;
}
.tablaBD th img:hover, .tablaBD td img:hover{
	background:white;
	border-radius: 5px;
}
.tablaBD thead th{	
	position: sticky;
	top:0;
	height: 20px;	
	padding:0px 5px;
	border:2px solid black;
	font-weight:bolder;
	text-align:center;
	color:white;
	white-space:nowrap;
	background:#084B8A;
	z-index: 2;
}

/*
table thead th:nth-child(1){
  position: sticky;
  left: 0;
  z-index: 3;
}
table thead th:nth-child(2){
  position: sticky;
  left: 0;
  z-index: 3;
}
table thead th:nth-child(3){
  position: sticky;
  left: 0;
  z-index: 3;
}
table thead th:nth-child(4){
  position: sticky;
  left: 0;
  z-index: 3;
}

table tbody th {
  position: sticky;
  left: 0px;
  background:white;
  z-index: 2;
}
*/
.tablaBD td{
	height: 20px;	
	padding:0px 5px;
	border-right:0.2px solid white;
	border-bottom:0.2px solid lightgray;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

.filaFiltros{
	background:#7A7EA0 !important;
}
.filaFiltros:hover{
	background:#7A7EA0 !important;
}
select{
	margin:3px;
	padding:4px 5px;
	border:1px solid #4163B8;
	border-radius:10px;
	color:#4163B8;
	font-size:10px;
}
.tablaBD .regular{
	background:#FDD15C !important;	
}
.tablaBD .regular:hover{
	background:#DDA00C !important;	
}
.tablaBD .malo{
	background:#F8C0CC !important;	
}
.tablaBD .malo:hover{
	background:#F83D4A !important;	
}

#formEditDet{
	position:absolute;
	visibility:hidden;
	width:250px;
	border:1px solid #EEEEEE;
	background:white;	
	box-shadow:0px 0px 5px black;
	border-radius:5px;
	padding-bottom:20px;
	z-index:3;
	cursor:default;
}
#formEditDetheader {
	padding: 2px 3px;
	font-size:10px;
  	font-weight:bold;  	
  	font-family:arial,serif;
  	color:#0B0B61;
  	text-align: center;
  	border-radius:5px 5px 0px 0px;
  	background: linear-gradient(90deg, rgba(191, 239, 193,1) 0%, rgba(255, 255, 255,1) 30%, rgba(255, 255, 255,1) 60%,rgba(192, 224, 247 ,1) 100%); 	
  	cursor: move; 	
}
#detNomBien{
	text-align:left;
	font-size: 10px;
	font-family:arial, serif;
	font-weight:bold; 
	background:white;	
}
#detDetBien{
	text-align:left;
	font-size: 10px;
	font-family:arial, serif;
	font-weight:normal; 
	background:white;	
}
.detConcepto{
	text-align: right;
	font-weight:bold; 
}
.detalles input{
	font-size: 10px;
	font-family:arial, serif;
	background:white;	
    border-radius: 5px;
    border:1px solid #19549E;
	border-radius:1px;
	box-shadow:0px 0px 1px 0px #048E09;	
	outline: 0 none;
}
.detalles input:focus{
	font-size: 10px;
	font-family:arial, serif;
	background:white;
	border-color: #2F900E;
    box-shadow: 0 1px 1px rgba(47, 144, 14, 0.075)inset, 0 0 8px rgba(96, 228, 51,0.6);
    outline: 0 none;
    border-radius: 1px;
}
#btnDetEnviar{
	font-size: 10px;
	font-family:arial, serif;
	color:white;
	background:#19549E;	
    border-radius: 5px;
    border:1px solid #19549E;
	border-radius:5px;
	outline: 0 none;
	cursor:pointer;
}
#btnDetEnviar:hover{	
	box-shadow:0px 0px 3px 1px #297F0B;
	color:#5EE42F;
}

#formEditBienes{
	position:absolute;
	top:-600px;
	visibility:hidden;
	width:auto;
	border:1px solid #EEEEEE;
	background:white;	
	box-shadow:0px 0px 5px black;
	border-radius:5px;
	z-index:3;
	cursor:default;
}
#formEditBienesheader{
	width:auto;
	padding: 3px 0px;
	font-size:12px;
  	font-weight:bolder;	
  	font-family:arial,serif;
  	color:#0B0B61;
  	text-align: center;
  	border-radius:5px 5px 0px 0px;
  	background: linear-gradient(90deg, rgba(191, 239, 193,1) 0%, rgba(255, 255, 255,1) 30%, rgba(255, 255, 255,1) 60%,rgba(192, 224, 247 ,1) 100%); 	
  	cursor: move; 
}

.formBienes{
	font-size:10px;
	font-family:arial, serif;
	font-weight:bold;
	border-collapse:collapse;
}
#suggestions, #suggestions2{ /* Este y el que siguen son para las sugerencias de bienes nuevos*/
    position: absolute;
    width: 100px;
    height: auto;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    z-index: 9999;    
} 
#suggestions .suggest-element, #suggestions2 .suggest-element{
    float: left;
    width: 100%;
    padding: 2px 2px;
    border-top: 1px solid lightgray;
    background-color: white;    
    cursor: pointer;
}

.formBienes td{
	padding: 2px 5px;
}
#forCodBien{
	width:auto;
	background:#BAD8E8;
	text-align:left;
	font-weight:bolder;
}
#formEditBienes .derecha{
	width:auto;
	text-align:left;
	font-weight:bold;
	background-color:#E0F2F7;
}

input, textarea, select{
  width: 100px;
  padding:2px 2px;
  font-size: 10px;
  font-family:arial, serif;
  background:white;	
  border-radius: 5px;
  border:1px solid #19549E;
  border-radius:1px;
  box-shadow:0px 0px 1px 0px #040A8E;	
  outline: 0 none;
}
textarea{
  resize: both;
}
input:focus, textarea:focus, select:focus{
	font-size: 10px;
	font-family:arial, serif;
	background:white;
	border-color: #2F900E;
    box-shadow: 0 1px 1px rgba(47, 144, 14, 0.075)inset, 0 0 8px rgba(96, 228, 51,0.6);
    outline: 0 none;
    border-radius: 1px;
}

#btnFormBienesEnviar{
	font-size: 10px;
	font-family:arial, serif;
	color:white;
	background:#19549E;	
    border-radius: 5px;
    border:1px solid #19549E;
	border-radius:5px;
	outline: 0 none;
	cursor:pointer;
}
#btnFormBienesEnviar:hover{	
	box-shadow:0px 0px 3px 1px #297F0B;
	color:#5EE42F;
}
#formCargueExcel{
  position:fixed;
  visibility:hidden;
  top:300px;
  left:100px;
  width:300px;
  border:1px solid blue;
  border-radius:10px;
  padding:20px;
  color:white;
  background:black;
  z-index:99;
}



@media screen and (max-width:800px){
	/* Esta es para mi celulara*/
	#encabezadoGral{
		height:100px;
	}
	.btnMenu{
		position:relative;
		top:20px;
		left:40px;
		width:60px;
		height:60px;
		cursor:pointer;
	}
	.btnMenu img{
		width:60px;
		height:60px;
	}
	.logo{
		position:relative;
	    top:-55px;
	    left:120px;
	    height:90px;
	    width:90px;
	}
	.logo img {
		height:90px;
	    width:90px;
	}
	.tituloCinta{	
		position:relative;
		top:-140px;
		left:215px;
		width:450px;
		height: auto;
		font-size:5vw;
	}
	.contenidoCinta{
		position:relative;
		top:-130px;
		left:0px;
		width:100%;
		height: auto;
		padding: 5px 0px;
		font-size:2.3vw;
		box-shadow: 1px 1px 1px 1px gray;
		background: white;
	}
	.inicioSesionCinta{
		position:relative;
		top:-130px;
		left:-15px;
		font-size:3.5vw;
	}
	/*==== LogedIn====*/
	#sesionLogedIn{
		position: relative;
		top: -255px;
		right: 30px;
		width: 85px;
		height:85px;
		border: 1px solid #0B0B61;
		border-radius: 50px;
	}
	.sesionNom{
		position: relative;
		right:-100px;
		padding:2px 10px;
		font-size:2.3vw;
		font-weight: bold;
	}
	.sesionImg img{
		position: absolute;
		top:3px;
		right:3px;
		width: 80px;
		height: 80px;
		border: 1px solid #0B0B61;
		border-radius: 50px;
	}	
	.sesionNom .nom{	
		position: relative;
		top:0px;
		right:-20px;	
		text-align: right;
	}
	#sesionLogedIn .btn{
		position: relative;
		top:0px;
		right:0px;
		padding:3px 4px;
		font-size:3.5vw;		
		font-weight: bold;
		color:#0B0B61;
		border:1px solid #0B0B61;
		border-radius:5px;
		background: #EBEEF8;
	}
	.formularioLogin{
		position:absolute;
		top:190px;
		right:-45px;	
		width:auto;
		border:1px solid #0B0B61;
		font-size:4.5vw;
		font-weight: bold;
		box-shadow:0px 0px 5px 0px gray;
		border-radius:5px;
		z-index:3;		
		background:white;
	}
	.formularioLogin input{
		font-weight: normal;
		font-size:4.5vw;
		border:1px solid #0B0B61;
		border-radius:5px;
	}
	.formularioLogin input:focus{
		border-color: #0B0B61;
	    box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 228, 130,0.6);
	    outline: 0 none;
	}
	.formularioLogin .btnLogin{
		left:30px;
		color:#0B0B61;
		font-weight: bold;
		font-size:4.5vw;
		border:1px solid #0B0B61;
		border-radius:5px;
		background: white;
	}
	
	/*====Menú de Navegación====*/
	#menuNavegacion{
		position:relative;
		left:-10px;
		top:155px;
		width:50px;
	}	
	.menuNavegacion li{
		position:relative;
		width:45px;
		margin-bottom: 10px;
		padding: 0px 5px;
	}
	.menuNavegacion img{
		width:40px;
		height:40px;
	}
	#menuNavegacion a{	
		font-size:5vw;
	}
	.menuNavegacion .menu ul li{
		padding: 7px 0px;
	}
	#contenedor{
		top:155px;
		left:50px;
		font-size:3vw;
		/*El ancho y la altura se definen en la pagina principal dependiendo del screen*/
	}
	.tablaBD td img{
		height:10px;
		width: 10px;
		padding:2px 2px;
	}
	.encabezadoTabla{
		padding:1px 3px;
	}
}
