:root {
	--imagenFondo:url('appsArt/fondo.jpg');
	--luzOn:#323435;
	--OnActivo: #2a2a2b;
	--OnPasivo: #020202;	
    --Off: #4e79fc;
	--RojoOnActivo:#fd0101;
	--RojoOnPasivo:#d80202;
	--RojoOff:#960404;  
    --fondo01:rgba(117, 208, 250, 0.1);
    --fondo03:rgba(117, 208, 250, 0.3);
    --fondo05:rgba(117, 208, 250, 0.5); /*Estado inactivo*/
    --fondo07:rgba(117, 208, 250, 0.7);
    --fondo09:rgba(117, 208, 250,0.9); /*Estado activo*/
    --fondo10:rgba(117, 208, 250,1);
	--fondoOff01:rgba(15, 25, 44, 0.1);
    --fondoOff03:rgba(15, 25, 44, 0.3);
    --fondoOff05:rgba(15, 25, 44, 0.5); /*Estado inactivo*/
    --fondoOff07:rgba(15, 25, 44, 0.7);
    --fondoOff09:rgba(15, 25, 44,0.9); /*Estado activo*/
    --fondoOff10:rgba(15, 25, 44,1);
	color:#fc3504;
	color:#ff6105;
	color:#ff8a05;
	color:#e6ff07;
	color:#8bff07;
	color:#0f0f0f;
  }
html {
	font-family: calibri, asap;
	font-size: 16px;
	background:#f9f9fa;
}
#appsContenedorGlobal {
	position:absolute;
	width:100%;
	top: 0px;
	left:0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}
/*==== Encabezado====*/
#appsEncabezadoGral {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    align-items: center;
	border-radius: 0 0 10px 10px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px 1px lightblue;
	border: 1px solid lightslategray;
    z-index: 3;
}
.appsBtnMenu {
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.appsBtnMenu img {
	width: 40%;
}
.appsLogo {
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.appsLogo img {
	width: 60%;
	border-radius:25px;
	box-shadow: 1px 1px 10px 1px lightgrey;
}
.appsTituloCinta {
	font-size: 1.5em;
	font-weight: bolder;	
	color: var(--RojoOnPasivo);
	text-align: center;
}
.appsContenidoCinta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	grid-column:6/17;
	font-weight: normal;
	color: var(--OnPasivo);
	text-align: center;
}
.appsInicioSesionCinta {
   	width: auto;
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--Off);
    border-radius: 10px;
    cursor: pointer;
    grid-column: 19/17;
}
.appsInicioSesionCinta:hover {
	color: var(--OnActivo);
	text-shadow: 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo03);		
}
/*==== Formularios Login====*/
#appsFormulario {
	position: absolute;
	visibility: hidden;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	background: white;
    box-shadow: 1px 1px 10px 1px lightblue;
	z-index: 3;
	font-weight: 500px;
}
#appsFormulario input {
	border-radius: 5px;
	background: #eafaff;	
	padding: 5px 8px;
	font-size: 1.1em;
}
#appsFormulario .btnLogin {
	left: 30px;
	color: var(--OnPasivo);
	border: 1px solid var(--OnPasivo);
	background: var(--fondo01);	
	cursor: pointer;
}
#appsFormulario .btnLogin:hover {
	color: var(--OnActivo);
	border-color: var(--OnActivo);
	background:var(--fondo03);	
}
.appsFormularioLogin {
	top: 60px;
	right: 5px;
}
.appsFormularioNuevoUsuario{
	top: -500px;
	right: 0;
}
.appsFormularioNuevoUsuario .cerrar{
	padding:0 5px;
	color: var(--OnPasivo);
	border-radius: 50px;
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 5px 0px var(--luzOn);
	cursor: pointer;
}
.appsFormularioNuevoUsuario .cerrar:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	background: var(--fondo01);
}
.appsFormularioNuevoUsuario #contrasenaCheckList{
	position: absolute;
	visibility: hidden;
	top: 270px;
	left:-210px;
	padding: 10px;
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-radius: 15px 0;
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 25px 0px var(--OnActivo);
	background: var(--fondoOff09);	
}
/*==== LoggedIn====*/
#appsSesionLogedIn {
	position: relative;
	width: auto;
	top: -125px;
	float: right;
	cursor: pointer;
	color: #0B0B61;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #0B0B61;
	border-radius: 25px;
	/*box-shadow:1px 1px 2px 1px #0B0B61;	*/
	background: white;
}
#appsSesionLogedIn:hover {
	background: #AABAF6;
	box-shadow: 0px 0px 5px 0px #EBEEF8;
}
.appsSesionImg {
	float: right;
	width: 30px;
	height: 30px;
}
/*====Formularios LoggedIn=====*/
.appsFormularioDatosUsuario {
	top: 50px;
	right: 0;
}
.datosPersonales {
	border-bottom: 1px solid gray;
	margin: 10px 0px;
	padding: 10px 0px;
}
.sesionImgInside {
	margin: auto;
	padding: 10px;
	width: 50px;
	height: 50px;
}
.appsFormularioDatosUsuario .etiqueta {
	font-weight: bold;
	padding: 10px 0px;
}
.appsFormularioDatosUsuario .datos {
	font-weight: normal;
	font-style: italic;
}
.appsFormularioDatosUsuario .btn {
	width: auto;
	left: 30px;
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 0.8vw;
	text-align: center;
	border: 1px solid var(--OnPasivo);
	border-radius: 5px;
	background: var(--fondo03);;
	cursor: pointer;
	padding: 0px 5px;
}
.appsFormularioDatosUsuario .btn:hover {
	font-weight: bold;
	color: var(--OnActivo);
	text-shadow: 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo01);		
}
.appsFormularioNuevaContrasena{
	top: 231px;
	right: 192px;
}
.appsFormularioNuevaContrasena #contrasenaCheckList{
	position: absolute;
	visibility: hidden;
	top: 70px;
	left:-210px;
	padding: 10px;
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-radius: 15px 0;
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 25px 0px var(--OnActivo);
	background: var(--fondoOff09);	
}
/*====CuerpoPrincipal====*/
#appsContenedor {
	width: 100%;
	padding:10px;
	display: grid;
	gap: 0.5em;	
}
.cargadorDatos {
    width: auto;
    position: absolute;
    top: 0px;
    visibility: hidden;
    background: white;
    box-shadow: 2px 2px 5px 1px lightblue;
    padding: 15px;
    border-radius: 15px;
    z-index: 3;
    float: right;
    right: 0px;
}
.btnCerrarCargadorDatos{
	box-shadow: 1px 1px 2px 1px grey;
    padding: 5px;
    border-radius: 25px;
    width: 3em;
	cursor: pointer;
	user-select: none;
}
#contenedor-formulario {
    width: auto;
    display: grid;
    gap: 0.5em;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
    box-shadow: 1px 1px 2px 1px lightgrey;
    border-radius: 10px;
}
form {
    display: grid;
    flex-wrap: wrap;
    gap: 0.5em;
}
input[type="submit"] {
    width: 50%;
}
select{
    width: 200px;
    padding: 0.2em;
    border-radius: 0.3em;
    box-shadow: 2px 2px 10px 1px lightblue;
}
#reporte{
	position: relative;
	visibility: hidden;
	width:auto;
	/*height:750px;*/
    overflow: scroll;
}
.tablaBD tbody tr:nth-child(even) {
	background-color:#e8eef1;
}
.tablaBD tbody tr:hover {
	background-color: #d9e7fa;
}
.tablaBD{
	position: relative;
	left:10px;
	border-collapse: collapse;
	background:white;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaBD th img, .tablaBD td img{
	height:10px;
	width: 10px;
	cursor:pointer;
	padding:0px 3px;
}
.tablaBD th img:hover, .tablaBD td img:hover{
	background:white;
	border-radius: 5px;
}
.tablaBD thead th{	
	top:0;
	height: 20px;	
	padding:0px 5px;
	font-weight:bolder;
	text-align:center;
	color:white;
	white-space:nowrap;
	background:#084B8A;
}
.tablaBD td{
	height: 20px;	
	padding:3px 10px;
	border-right:0.2px solid white;
	border-bottom:0.2px solid lightgray;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.stickyHead1{
	position:sticky;
	top:0px;
	border-right:0.2px solid white;
	border-bottom:0.2px solid lightgray;
	z-index: 2;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #dcf3fc;
	box-shadow: inset 0 0 6px #cee0e7; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #084B8A;
	border-radius: 10px;
    box-shadow: inset 0 0 6px #1d3faf; 
}
::-webkit-scrollbar-thumb:hover {
	background: #0e2263;	
	box-shadow: 2px 1px 15px 1px #081338;	
}
/*==========ADAPTABILIDAD===============*/

@media screen and (max-width:800px) {
	html{
		font-size: 1em;
	}
	#appsEncabezadoGral {
		grid-template-columns: repeat(3, 1fr);
	}
	.appsContenidoCinta {
		width: 100%;
		grid-column: 1/4;
		flex-wrap:nowrap;
		background-color: white;
		border:1px solid lightgray;
	}
	.appsInicioSesionCinta{
		grid-column: 3/4;
	}
	.appsFormularioLogin {
		top: 150px;
	}
	#appsContenedor {
		margin-top: 150px;
	}
	select{
		font-size: 1em;
	}
	
}	