/* PADDING */
.pt0 { padding-top: 0px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }
.pt105 { padding-top: 105px !important; }
.pt110 { padding-top: 110px !important; }
.pt115 { padding-top: 115px !important; }
.pt120 { padding-top: 120px !important; }
.pt125 { padding-top: 125px !important; }
.pt130 { padding-top: 130px !important; }
.pt135 { padding-top: 135px !important; }
.pt140 { padding-top: 140px !important; }
.pt145 { padding-top: 145px !important; }
.pt150 { padding-top: 150px !important; }

.pb0 { padding-bottom: 0px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }
.pb105 { padding-bottom: 105px !important; }
.pb110 { padding-bottom: 110px !important; }
.pb115 { padding-bottom: 115px !important; }
.pb120 { padding-bottom: 120px !important; }
.pb125 { padding-bottom: 125px !important; }
.pb130 { padding-bottom: 130px !important; }
.pb135 { padding-bottom: 135px !important; }
.pb140 { padding-bottom: 140px !important; }
.pb145 { padding-bottom: 145px !important; }
.pb150 { padding-bottom: 150px !important; }

.pr0 { padding-right: 0px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }
.pr85 { padding-right: 85px !important; }
.pr90 { padding-right: 90px !important; }
.pr95 { padding-right: 95px !important; }
.pr100 { padding-right: 100px !important; }
.pr105 { padding-right: 105px !important; }
.pr110 { padding-right: 110px !important; }
.pr115 { padding-right: 115px !important; }
.pr120 { padding-right: 120px !important; }
.pr125 { padding-right: 125px !important; }
.pr130 { padding-right: 130px !important; }
.pr135 { padding-right: 135px !important; }
.pr140 { padding-right: 140px !important; }
.pr145 { padding-right: 145px !important; }
.pr150 { padding-right: 150px !important; }

.pl0 { padding-left: 0px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }
.pl85 { padding-left: 85px !important; }
.pl90 { padding-left: 90px !important; }
.pl95 { padding-left: 95px !important; }
.pl100 { padding-left: 100px !important; }
.pl105 { padding-left: 105px !important; }
.pl110 { padding-left: 110px !important; }
.pl115 { padding-left: 115px !important; }
.pl120 { padding-left: 120px !important; }
.pl125 { padding-left: 125px !important; }
.pl130 { padding-left: 130px !important; }
.pl135 { padding-left: 135px !important; }
.pl140 { padding-left: 140px !important; }
.pl145 { padding-left: 145px !important; }
.pl150 { padding-left: 150px !important; }

@include respond-up(sm) {
.pt0-sm { padding-top: 0px !important; }
.pt10-sm { padding-top: 10px !important; }
.pt15-sm { padding-top: 15px !important; }
.pt20-sm { padding-top: 20px !important; }
.pt25-sm { padding-top: 25px !important; }
.pt30-sm { padding-top: 30px !important; }
.pt35-sm { padding-top: 35px !important; }
.pt40-sm { padding-top: 40px !important; }
.pt45-sm { padding-top: 45px !important; }
.pt50-sm { padding-top: 50px !important; }
.pt55-sm { padding-top: 55px !important; }
.pt60-sm { padding-top: 60px !important; }
.pt65-sm { padding-top: 65px !important; }
.pt70-sm { padding-top: 70px !important; }
.pt75-sm { padding-top: 75px !important; }
.pt80-sm { padding-top: 80px !important; }
.pt85-sm { padding-top: 85px !important; }
.pt90-sm { padding-top: 90px !important; }
.pt95-sm { padding-top: 95px !important; }
.pt100-sm { padding-top: 100px !important; }
.pt105-sm { padding-top: 105px !important; }
.pt110-sm { padding-top: 110px !important; }
.pt115-sm { padding-top: 115px !important; }
.pt120-sm { padding-top: 120px !important; }
.pt125-sm { padding-top: 125px !important; }
.pt130-sm { padding-top: 130px !important; }
.pt135-sm { padding-top: 135px !important; }
.pt140-sm { padding-top: 140px !important; }
.pt145-sm { padding-top: 145px !important; }
.pt150-sm { padding-top: 150px !important; }

.pb0-sm { padding-bottom: 0px !important; }
.pb10-sm { padding-bottom: 10px !important; }
.pb15-sm { padding-bottom: 15px !important; }
.pb20-sm { padding-bottom: 20px !important; }
.pb25-sm { padding-bottom: 25px !important; }
.pb30-sm { padding-bottom: 30px !important; }
.pb35-sm { padding-bottom: 35px !important; }
.pb40-sm { padding-bottom: 40px !important; }
.pb45-sm { padding-bottom: 45px !important; }
.pb50-sm { padding-bottom: 50px !important; }
.pb55-sm { padding-bottom: 55px !important; }
.pb60-sm { padding-bottom: 60px !important; }
.pb65-sm { padding-bottom: 65px !important; }
.pb70-sm { padding-bottom: 70px !important; }
.pb75-sm { padding-bottom: 75px !important; }
.pb80-sm { padding-bottom: 80px !important; }
.pb85-sm { padding-bottom: 85px !important; }
.pb90-sm { padding-bottom: 90px !important; }
.pb95-sm { padding-bottom: 95px !important; }
.pb100-sm { padding-bottom: 100px !important; }
.pb105-sm { padding-bottom: 105px !important; }
.pb110-sm { padding-bottom: 110px !important; }
.pb115-sm { padding-bottom: 115px !important; }
.pb120-sm { padding-bottom: 120px !important; }
.pb125-sm { padding-bottom: 125px !important; }
.pb130-sm { padding-bottom: 130px !important; }
.pb135-sm { padding-bottom: 135px !important; }
.pb140-sm { padding-bottom: 140px !important; }
.pb145-sm { padding-bottom: 145px !important; }
.pb150-sm { padding-bottom: 150px !important; }

.pl0-sm { padding-left: 0px !important; }
.pl10-sm { padding-left: 10px !important; }
.pl15-sm { padding-left: 15px !important; }
.pl20-sm { padding-left: 20px !important; }
.pl25-sm { padding-left: 25px !important; }
.pl30-sm { padding-left: 30px !important; }
.pl35-sm { padding-left: 35px !important; }
.pl40-sm { padding-left: 40px !important; }
.pl45-sm { padding-left: 45px !important; }
.pl50-sm { padding-left: 50px !important; }
.pl55-sm { padding-left: 55px !important; }
.pl60-sm { padding-left: 60px !important; }
.pl65-sm { padding-left: 65px !important; }
.pl70-sm { padding-left: 70px !important; }
.pl75-sm { padding-left: 75px !important; }
.pl80-sm { padding-left: 80px !important; }
.pl85-sm { padding-left: 85px !important; }
.pl90-sm { padding-left: 90px !important; }
.pl95-sm { padding-left: 95px !important; }
.pl100-sm { padding-left: 100px !important; }
.pl105-sm { padding-left: 105px !important; }
.pl110-sm { padding-left: 110px !important; }
.pl115-sm { padding-left: 115px !important; }
.pl120-sm { padding-left: 120px !important; }
.pl125-sm { padding-left: 125px !important; }
.pl130-sm { padding-left: 130px !important; }
.pl135-sm { padding-left: 135px !important; }
.pl140-sm { padding-left: 140px !important; }
.pl145-sm { padding-left: 145px !important; }
.pl150-sm { padding-left: 150px !important; }

.pr0-sm { padding-right: 0px !important; }
.pr10-sm { padding-right: 10px !important; }
.pr15-sm { padding-right: 15px !important; }
.pr20-sm { padding-right: 20px !important; }
.pr25-sm { padding-right: 25px !important; }
.pr30-sm { padding-right: 30px !important; }
.pr35-sm { padding-right: 35px !important; }
.pr40-sm { padding-right: 40px !important; }
.pr45-sm { padding-right: 45px !important; }
.pr50-sm { padding-right: 50px !important; }
.pr55-sm { padding-right: 55px !important; }
.pr60-sm { padding-right: 60px !important; }
.pr65-sm { padding-right: 65px !important; }
.pr70-sm { padding-right: 70px !important; }
.pr75-sm { padding-right: 75px !important; }
.pr80-sm { padding-right: 80px !important; }
.pr85-sm { padding-right: 85px !important; }
.pr90-sm { padding-right: 90px !important; }
.pr95-sm { padding-right: 95px !important; }
.pr100-sm { padding-right: 100px !important; }
.pr105-sm { padding-right: 105px !important; }
.pr110-sm { padding-right: 110px !important; }
.pr115-sm { padding-right: 115px !important; }
.pr120-sm { padding-right: 120px !important; }
.pr125-sm { padding-right: 125px !important; }
.pr130-sm { padding-right: 130px !important; }
.pr135-sm { padding-right: 135px !important; }
.pr140-sm { padding-right: 140px !important; }
.pr145-sm { padding-right: 145px !important; }
.pr150-sm { padding-right: 150px !important; }
}

@include respond-up(md) {
.pt0-md { padding-top: 0px !important; }
.pt10-md { padding-top: 10px !important; }
.pt15-md { padding-top: 15px !important; }
.pt20-md { padding-top: 20px !important; }
.pt25-md { padding-top: 25px !important; }
.pt30-md { padding-top: 30px !important; }
.pt35-md { padding-top: 35px !important; }
.pt40-md { padding-top: 40px !important; }
.pt45-md { padding-top: 45px !important; }
.pt50-md { padding-top: 50px !important; }
.pt55-md { padding-top: 55px !important; }
.pt60-md { padding-top: 60px !important; }
.pt65-md { padding-top: 65px !important; }
.pt70-md { padding-top: 70px !important; }
.pt75-md { padding-top: 75px !important; }
.pt80-md { padding-top: 80px !important; }
.pt85-md { padding-top: 85px !important; }
.pt90-md { padding-top: 90px !important; }
.pt95-md { padding-top: 95px !important; }
.pt100-md { padding-top: 100px !important; }
.pt105-md { padding-top: 105px !important; }
.pt110-md { padding-top: 110px !important; }
.pt115-md { padding-top: 115px !important; }
.pt120-md { padding-top: 120px !important; }
.pt125-md { padding-top: 125px !important; }
.pt130-md { padding-top: 130px !important; }
.pt135-md { padding-top: 135px !important; }
.pt140-md { padding-top: 140px !important; }
.pt145-md { padding-top: 145px !important; }
.pt150-md { padding-top: 150px !important; }

.pb0-md { padding-bottom: 0px !important; }
.pb10-md { padding-bottom: 10px !important; }
.pb15-md { padding-bottom: 15px !important; }
.pb20-md { padding-bottom: 20px !important; }
.pb25-md { padding-bottom: 25px !important; }
.pb30-md { padding-bottom: 30px !important; }
.pb35-md { padding-bottom: 35px !important; }
.pb40-md { padding-bottom: 40px !important; }
.pb45-md { padding-bottom: 45px !important; }
.pb50-md { padding-bottom: 50px !important; }
.pb55-md { padding-bottom: 55px !important; }
.pb60-md { padding-bottom: 60px !important; }
.pb65-md { padding-bottom: 65px !important; }
.pb70-md { padding-bottom: 70px !important; }
.pb75-md { padding-bottom: 75px !important; }
.pb80-md { padding-bottom: 80px !important; }
.pb85-md { padding-bottom: 85px !important; }
.pb90-md { padding-bottom: 90px !important; }
.pb95-md { padding-bottom: 95px !important; }
.pb100-md { padding-bottom: 100px !important; }
.pb105-md { padding-bottom: 105px !important; }
.pb110-md { padding-bottom: 110px !important; }
.pb115-md { padding-bottom: 115px !important; }
.pb120-md { padding-bottom: 120px !important; }
.pb125-md { padding-bottom: 125px !important; }
.pb130-md { padding-bottom: 130px !important; }
.pb135-md { padding-bottom: 135px !important; }
.pb140-md { padding-bottom: 140px !important; }
.pb145-md { padding-bottom: 145px !important; }
.pb150-md { padding-bottom: 150px !important; }

.pl0-md { padding-left: 0px !important; }
.pl10-md { padding-left: 10px !important; }
.pl15-md { padding-left: 15px !important; }
.pl20-md { padding-left: 20px !important; }
.pl25-md { padding-left: 25px !important; }
.pl30-md { padding-left: 30px !important; }
.pl35-md { padding-left: 35px !important; }
.pl40-md { padding-left: 40px !important; }
.pl45-md { padding-left: 45px !important; }
.pl50-md { padding-left: 50px !important; }
.pl55-md { padding-left: 55px !important; }
.pl60-md { padding-left: 60px !important; }
.pl65-md { padding-left: 65px !important; }
.pl70-md { padding-left: 70px !important; }
.pl75-md { padding-left: 75px !important; }
.pl80-md { padding-left: 80px !important; }
.pl85-md { padding-left: 85px !important; }
.pl90-md { padding-left: 90px !important; }
.pl95-md { padding-left: 95px !important; }
.pl100-md { padding-left: 100px !important; }
.pl105-md { padding-left: 105px !important; }
.pl110-md { padding-left: 110px !important; }
.pl115-md { padding-left: 115px !important; }
.pl120-md { padding-left: 120px !important; }
.pl125-md { padding-left: 125px !important; }
.pl130-md { padding-left: 130px !important; }
.pl135-md { padding-left: 135px !important; }
.pl140-md { padding-left: 140px !important; }
.pl145-md { padding-left: 145px !important; }
.pl150-md { padding-left: 150px !important; }

.pr0-md { padding-right: 0px !important; }
.pr10-md { padding-right: 10px !important; }
.pr15-md { padding-right: 15px !important; }
.pr20-md { padding-right: 20px !important; }
.pr25-md { padding-right: 25px !important; }
.pr30-md { padding-right: 30px !important; }
.pr35-md { padding-right: 35px !important; }
.pr40-md { padding-right: 40px !important; }
.pr45-md { padding-right: 45px !important; }
.pr50-md { padding-right: 50px !important; }
.pr55-md { padding-right: 55px !important; }
.pr60-md { padding-right: 60px !important; }
.pr65-md { padding-right: 65px !important; }
.pr70-md { padding-right: 70px !important; }
.pr75-md { padding-right: 75px !important; }
.pr80-md { padding-right: 80px !important; }
.pr85-md { padding-right: 85px !important; }
.pr90-md { padding-right: 90px !important; }
.pr95-md { padding-right: 95px !important; }
.pr100-md { padding-right: 100px !important; }
.pr105-md { padding-right: 105px !important; }
.pr110-md { padding-right: 110px !important; }
.pr115-md { padding-right: 115px !important; }
.pr120-md { padding-right: 120px !important; }
.pr125-md { padding-right: 125px !important; }
.pr130-md { padding-right: 130px !important; }
.pr135-md { padding-right: 135px !important; }
.pr140-md { padding-right: 140px !important; }
.pr145-md { padding-right: 145px !important; }
.pr150-md { padding-right: 150px !important; }
}

@include respond-up(lg) {
.pt0-lg { padding-top: 0px !important; }
.pt10-lg { padding-top: 10px !important; }
.pt15-lg { padding-top: 15px !important; }
.pt20-lg { padding-top: 20px !important; }
.pt25-lg { padding-top: 25px !important; }
.pt30-lg { padding-top: 30px !important; }
.pt35-lg { padding-top: 35px !important; }
.pt40-lg { padding-top: 40px !important; }
.pt45-lg { padding-top: 45px !important; }
.pt50-lg { padding-top: 50px !important; }
.pt55-lg { padding-top: 55px !important; }
.pt60-lg { padding-top: 60px !important; }
.pt65-lg { padding-top: 65px !important; }
.pt70-lg { padding-top: 70px !important; }
.pt75-lg { padding-top: 75px !important; }
.pt80-lg { padding-top: 80px !important; }
.pt85-lg { padding-top: 85px !important; }
.pt90-lg { padding-top: 90px !important; }
.pt95-lg { padding-top: 95px !important; }
.pt100-lg { padding-top: 100px !important; }
.pt105-lg { padding-top: 105px !important; }
.pt110-lg { padding-top: 110px !important; }
.pt115-lg { padding-top: 115px !important; }
.pt120-lg { padding-top: 120px !important; }
.pt125-lg { padding-top: 125px !important; }
.pt130-lg { padding-top: 130px !important; }
.pt135-lg { padding-top: 135px !important; }
.pt140-lg { padding-top: 140px !important; }
.pt145-lg { padding-top: 145px !important; }
.pt150-lg { padding-top: 150px !important; }

.pb0-lg { padding-bottom: 0px !important; }
.pb10-lg { padding-bottom: 10px !important; }
.pb15-lg { padding-bottom: 15px !important; }
.pb20-lg { padding-bottom: 20px !important; }
.pb25-lg { padding-bottom: 25px !important; }
.pb30-lg { padding-bottom: 30px !important; }
.pb35-lg { padding-bottom: 35px !important; }
.pb40-lg { padding-bottom: 40px !important; }
.pb45-lg { padding-bottom: 45px !important; }
.pb50-lg { padding-bottom: 50px !important; }
.pb55-lg { padding-bottom: 55px !important; }
.pb60-lg { padding-bottom: 60px !important; }
.pb65-lg { padding-bottom: 65px !important; }
.pb70-lg { padding-bottom: 70px !important; }
.pb75-lg { padding-bottom: 75px !important; }
.pb80-lg { padding-bottom: 80px !important; }
.pb85-lg { padding-bottom: 85px !important; }
.pb90-lg { padding-bottom: 90px !important; }
.pb95-lg { padding-bottom: 95px !important; }
.pb100-lg { padding-bottom: 100px !important; }
.pb105-lg { padding-bottom: 105px !important; }
.pb110-lg { padding-bottom: 110px !important; }
.pb115-lg { padding-bottom: 115px !important; }
.pb120-lg { padding-bottom: 120px !important; }
.pb125-lg { padding-bottom: 125px !important; }
.pb130-lg { padding-bottom: 130px !important; }
.pb135-lg { padding-bottom: 135px !important; }
.pb140-lg { padding-bottom: 140px !important; }
.pb145-lg { padding-bottom: 145px !important; }
.pb150-lg { padding-bottom: 150px !important; }

.pl0-lg { padding-left: 0px !important; }
.pl10-lg { padding-left: 10px !important; }
.pl15-lg { padding-left: 15px !important; }
.pl20-lg { padding-left: 20px !important; }
.pl25-lg { padding-left: 25px !important; }
.pl30-lg { padding-left: 30px !important; }
.pl35-lg { padding-left: 35px !important; }
.pl40-lg { padding-left: 40px !important; }
.pl45-lg { padding-left: 45px !important; }
.pl50-lg { padding-left: 50px !important; }
.pl55-lg { padding-left: 55px !important; }
.pl60-lg { padding-left: 60px !important; }
.pl65-lg { padding-left: 65px !important; }
.pl70-lg { padding-left: 70px !important; }
.pl75-lg { padding-left: 75px !important; }
.pl80-lg { padding-left: 80px !important; }
.pl85-lg { padding-left: 85px !important; }
.pl90-lg { padding-left: 90px !important; }
.pl95-lg { padding-left: 95px !important; }
.pl100-lg { padding-left: 100px !important; }
.pl105-lg { padding-left: 105px !important; }
.pl110-lg { padding-left: 110px !important; }
.pl115-lg { padding-left: 115px !important; }
.pl120-lg { padding-left: 120px !important; }
.pl125-lg { padding-left: 125px !important; }
.pl130-lg { padding-left: 130px !important; }
.pl135-lg { padding-left: 135px !important; }
.pl140-lg { padding-left: 140px !important; }
.pl145-lg { padding-left: 145px !important; }
.pl150-lg { padding-left: 150px !important; }

.pr0-lg { padding-right: 0px !important; }
.pr10-lg { padding-right: 10px !important; }
.pr15-lg { padding-right: 15px !important; }
.pr20-lg { padding-right: 20px !important; }
.pr25-lg { padding-right: 25px !important; }
.pr30-lg { padding-right: 30px !important; }
.pr35-lg { padding-right: 35px !important; }
.pr40-lg { padding-right: 40px !important; }
.pr45-lg { padding-right: 45px !important; }
.pr50-lg { padding-right: 50px !important; }
.pr55-lg { padding-right: 55px !important; }
.pr60-lg { padding-right: 60px !important; }
.pr65-lg { padding-right: 65px !important; }
.pr70-lg { padding-right: 70px !important; }
.pr75-lg { padding-right: 75px !important; }
.pr80-lg { padding-right: 80px !important; }
.pr85-lg { padding-right: 85px !important; }
.pr90-lg { padding-right: 90px !important; }
.pr95-lg { padding-right: 95px !important; }
.pr100-lg { padding-right: 100px !important; }
.pr105-lg { padding-right: 105px !important; }
.pr110-lg { padding-right: 110px !important; }
.pr115-lg { padding-right: 115px !important; }
.pr120-lg { padding-right: 120px !important; }
.pr125-lg { padding-right: 125px !important; }
.pr130-lg { padding-right: 130px !important; }
.pr135-lg { padding-right: 135px !important; }
.pr140-lg { padding-right: 140px !important; }
.pr145-lg { padding-right: 145px !important; }
.pr150-lg { padding-right: 150px !important; }
}